.basic_btn {
    border-radius: 25px;
    min-width: 100px;
    min-height: 50px;
    font-size: 25px;
    border: 2px #000 solid;
    cursor: pointer;
}

@keyframes hoverBtn {
    from { transform: translate(0, 0); }
    to { transform: translate(-3px, -3px); }
}

.basic_btn:hover {
    animation: hoverBtn 0.2s forwards;
}